<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.example.cacp.mochileros.Lateral"
            android:label="@string/title_activity_lateral"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>
